#The one-step analysis and compilation flow is used to support legacy ICE 

veanalyze simple_alu.sv simple_alu_tb.v

#Declare top level module 
comp -top tb

#Declare single step compile/analysis flow
comp -single_step

#Solo is D1S
comp -platform D2

comp -num_boards 1

#ICE Legacy Support enabled
comp -app legacy 

#Retain write-only memories in design (result_mem in example)
velsyn -SWOM 
